
    <div class="ui page grid main">
        <div class="row">
            <div class="column padding-reset">
                <div class="ui large message">
                    <h1 class="ui huge header">Do you dream of beer?</h1>
                    <p>Here, you can explore and discover all kinds of beer, understand their categories and taxonomy.</p>
                    <p>Check out breweries near you.</p>
                    <p>Find food pairings for different kinds of beer.</p>
                    <p>All with an interactive, fun interface!</p>
                    <p>Explore...</p>
                    <div class="row">
                        <div class="ui animated large button" tabindex="0">
                          <div class="visible content">Beer</div>
                          <div class="hidden content">
                            <i class="right arrow icon"></i>
                          </div>
                        </div>

                        <div class="ui animated large button" tabindex="0">
                          <div class="visible content">Breweries</div>
                          <div class="hidden content">
                            <i class="right arrow icon"></i>
                          </div>
                        </div>

                        <div class="ui animated large button" tabindex="0">
                          <div class="visible content">Food Pairings</div>
                          <div class="hidden content">
                            <i class="right arrow icon"></i>
                          </div>
                        </div>                        
                    </div>    
                </div>
            </div>
        </div>
    </div>