       <div class="ui secondary pointing menu">
            <a href="" class="brand item" ng-click="home()">I Dream of Beer</a>
            <a href="" class="item" ng-click="home()">Home</a>
            <a href="" class="item" ng-click="beer()">Beer</a>
            <a href="" class="item" ng-click="breweries()">Breweries</a>
            <a href="" class="item" ng-click="foodpairings()">Food Pairings</a>
            <a href="" class="item" ng-click="changepassword()">Change Password</a>
            <a href="" class="item" ng-click="signout()">Signout</a>
        </div>